[Unit]
Description=HatenaBookmark Interest IRC Gateway
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill iig
ExecStartPre=-/usr/bin/docker rm iig
ExecStartPre=/usr/bin/docker pull tomohiro/iig
ExecStart=/usr/bin/docker run --rm --name iig -p 16704:16704 tomohiro/iig
ExecStop=/usr/bin/docker stop iig

[X-Fleet]
Conflicts=iig.service
