[Unit]
Description=Lingr IRC Gateway
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=120
ExecStartPre=-/usr/bin/docker kill lig
ExecStartPre=-/usr/bin/docker rm lig
ExecStartPre=/usr/bin/docker pull tomohiro/lig
ExecStart=/usr/bin/docker run --rm --name lig --net container:znc tomohiro/lig
ExecStop=/usr/bin/docker stop lig

[X-Fleet]
Conflicts=lig.service
